:root {
    --tc-theme-color: red;
    --tc-theme-sec-color: blue;
    --tc-black: black;
    --tc-white: white;
    --tc-grey-color: #f6f6f6;
    --tc-grey-color-2: #f6f6f6;
    --tc-grey-color-3: #f6f6f6;
    --tc-grey-color-4: #f6f6f6;
}